* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
}

.container-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.container-home .box-central {
  display: flex;
  flex-direction: column;
  width: calc(100% - 280px);
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  padding: 30px;
  overflow: auto;
}

.container-home .box-central p {
  margin-top: 15px;
  border: 1px solid black;
  pad
}